body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper_portfolio {
  padding-bottom: 67px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin: 0;
  padding: 69px 0 0 40px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.portfolio__description {
  margin: 19px 0 10px 0;
  padding: 10px 0 0 40px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  word-spacing: -0.01em;
  letter-spacing: -0.01em;
  text-align: left;
}

.portfolio__navigation {
  padding-left: 40px;
}

.portfolio__link {
  margin: 0 5px 0 2px;
  padding: 5px 6px 3px 5px;

  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;

  border: 1px solid #666d89;
  border-radius: 4px;
}

.portfolio__link:hover {
  cursor: pointer;
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.layout-4-column {
  width: 940px;
  height: 601px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
  margin: 18px 40px 0;
}

.portfolio__image {
  margin-bottom: 20px;
}

.wrapper_about-us {
  padding-bottom: 63px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__title {
  margin: 0;
  padding: 68px 0 0 40px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.01em;
}

.about-us__description {
  padding: 11px 0 0 40px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  letter-spacing: -0.01em;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.employee {
  width: 300px;
  margin: 28px 2px 0 0;
}

.employee:last-child {
  margin: 28px 0px 0 2px;
}

.employee__name {
  max-width: inherit;
  margin: 0;
  padding: 13px 1px 0 0px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.01em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.employee__text {
  margin-top: 0;
  padding-top: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
}

.employee:last-child > .social {
  margin-left: -1px;
}

.social__ico {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 10px 3px 0 1px;
  padding-right: 0px;
  border-radius: 32px;
}

.social__ico:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 1px #666d89;
}

.ico_facebook {
  background-image: url(./assets/images/icons/facebook.svg);
}

.ico_google-plus {
  background-image: url(./assets/images/icons/google-plus.svg);
}

.ico_twitter {
  background-image: url(./assets/images/icons/twitter.svg);
}

.ico_linkedin {
  background-image: url(./assets/images/icons/linkedin.svg);
}
