body {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 16px; 
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.logo {
  margin: 26px 0 0 40px;
}

.logo h1 {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.02em; 
}

.logo h1::after {
  content: "*";
  font-size: 25px;
  color: #f06c64;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 400;
}

.navigation {
  margin-right: 40px;
}

.navigation li {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}

.navigation li + li::before {
  position: absolute;
  bottom: 0px;
  left: 7px;
  content: ".";
  font-size: 24px;
  color: #494e62;
}

.navigation li a {
  font-size: 12px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}

.navigation li a:hover {
  color: #f06c64;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 53px 0px 58px; 
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider > img {
  padding: 0px 2px 0px 2px;
  margin: 0px 16px 0px 15px;
}

.slider > a:first-child {
  margin-left: 42px;
}

.slider > a:last-child {
  margin-right: 39px;
}

.slider a:hover {
  -webkit-filter: drop-shadow(0 0 3px rgba(100, 0, 0, 0.5));
  filter: drop-shadow(0 0 3px rgba(100, 0, 0, 0.5));
}

.services {
  width: 1020px;
  height: 495px;
  background-color: #f2f2f2;
}

.services-bottom {
  width: 1020px;
  height: 6px;
  background-color: #ffffff;
}

.services-head {
  margin: 0px 40px;
  padding-top: 43px;
}

.services-head h2 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.005em;  
}

.services-head p {
  padding-top: 4px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 300;
  text-align: justify;
  word-spacing: -0.08em;
}

.services-description {
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
}

.column {
  width: 32%;
  margin-top: 25px;
}

.service:nth-child(2) {
  margin-top: 30px;
}

.service h3 {
  display: inline;
  padding-left: 18px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 900;
  text-align: left;
}

.column:last-child h3 { 
  padding-left: 20px;
}

img {
  float: left;
  margin-top: 1px; 
}

.service p {
  margin: 7px 0px 0px 80px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 400;
  text-align: justify;
  word-spacing: -0.05em;
  overflow: hidden;
}
